*{
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    padding: auto;
}
body{
    background-color:lightblue;
    margin: auto;
    padding: auto;

}
.rent{
    background-color:transparent;
     border:1px solid black;
    width: 500px;
    height: 500px;
    margin-top: 100px;
}
.background{
    background: url(./fine.gif);
    /* margin-top: 100px; */
    text-align: center;       
    /* border:1px solid black; */
    /* padding: auto; */

}
ul{
    padding: 0px;
    margin-top: 20px;

}
li{ 
    padding-left: 50px;
    padding-right: px;
    padding-bottom: 15px;
    padding-top: 15px;
    list-style: none;
    color: #f5f5f5;
}
.trash{
    /* top:50%; */
    right: 34%;
    cursor: pointer;
    position: absolute;
    padding: 12px 16px;
    transform: translate(0%, -50%);
   }   
.close:hover {background: #bbb;}
li:nth-child(odd) {
    background: #aaaa;
  }
li:hover{
    color: black;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #ccc;
    border-color: black;
    text-decoration: none;
    list-style: none;

}
.heading{
    text-align: center;
    margin-top: 0px; 
    padding-bottom: 20px;
    
}
.plus{
    font-size: 30px;
    background-color:#ccc;
    padding-bottom: 5px;
    padding-top: -25px;
    outline: none;
    width: 8%;
    height: fit-content;
    
}
#text{
    border: 0px;
    background:#f5f5f5;
    margin: 15px 0px;
    padding: 10px;
    outline: none;
    width: 75%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18.2px;
}
